<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" verbose="2">
    <listeners>
        <listener class-name="com.xpandit.testng.annotations.XrayListener"></listener>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="pack.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
